.services {
	.servicesCategory {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.servicesCategoryButtons {
			> div {
				margin-right: 1.6rem;
			}
		}
	}

	.serviceCardBox {
		display: flex;
		justify-content: space-between;

		flex-wrap: wrap;
		gap: 5rem;
		margin-top: 8rem;
	}
}
.addService {
	.inputContainer {
		width: 45%;
		.buttonList {
			margin-top: 3rem;
			> div {
				margin-right: 2rem;
			}
		}
	}
}

.editService {
	.inputContainer {
		display: flex;
		justify-content: space-between;
		width: 85%;

		.inputContainerText,
		.inputContainerItem {
			width: 48%;
		}
		.buttonList {
			margin-top: 3rem;
			> div {
				margin-right: 2rem;
			}
		}
	}
	.line {
		width: 100%;
		border-top: 2px solid black;
		margin: 3rem 0;
	}

	.sessionsBlcok {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;
		margin-top: 5rem;
	}
	.deleteInfo {
		position: absolute;
		width: 100%;
		z-index: 9999;
		top: 0;
		left: 0;
		height: 100%;
		backdrop-filter: blur(8px);
		background: rgba(255, 255, 255, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;

		.deleteInfoItem {
			border-radius: 1.2rem;
			width: 35%;
			padding: 4rem 0;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
			background: rgb(255, 255, 255);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			h5 {
				color: rgb(0, 0, 0);
				font-size: 2.2rem;
				font-weight: 500;
			}
			.deleteInfoIteBtns {
				display: flex;
				margin-top: 4rem;
				gap: 4rem;
			}
		}
	}
}
