.datePickerContainer {
	width: 100%;
	> .react-datepicker-wrapper {
		width: 100%;
	}
	.date-picker-label {
		margin-bottom: 8px;
		font-size: 16px;
		color: #333;
	}
	h3 {
		color: rgba(0, 0, 0, 0.8);
		font-size: 1.6rem;
		padding-bottom: 0.5rem;
		margin-top: 1rem;
	}
	h3.errorText {
		color: #ff0000 !important;
	}

	.datePickerInput {
		border-radius: 13px;
		background: rgb(249, 249, 249);
		padding: 1rem;
		width: 100%;
		text-align: center;
		font-size: 1.6rem;
		border: 2px solid transparent;
		transition: 0.5s;
		width: 100%;
		&:focus-within,
		&:hover {
			border-color: rgb(255, 211, 89);
		}
	}

	.datePickerInput.inpError {
		border-color: #ff0000 !important;
	}
	.react-datepicker-popper {
		z-index: 9999999;
	}
	.customCalendar {
		background-color: #f9f9f9;
		border: 1px solid #ccc;
		border-radius: 0.8rem;

		.react-datepicker__header {
			background: linear-gradient(90deg, rgb(255, 211, 89), rgb(223, 197, 123) 100%);
			border-bottom: none;
			padding: 1rem;
			padding-top: 2rem;
			border-radius: 0.8rem 0.8rem 0 0;
		}
		.react-datepicker__current-month {
			font-size: 1.8rem;
			margin-bottom: 0.6rem;
			font-weight: 600;
		}
		.react-datepicker__day-name,
		.react-datepicker__day {
			font-size: 1.3rem;
			margin: 0.7rem;
			transition: 0.5s;
			width: 2.2rem;
			height: 2.2rem;
			line-height: 2.2rem;
		}
		.react-datepicker__day--selected,
		.react-datepicker__day--keyboard-selected {
			background-color: #ffd359;
			color: black;
			border-radius: 50%;
		}
		.react-datepicker__navigation--previous,
		.react-datepicker__navigation--next {
			&:hover {
				span {
					&::before {
						opacity: 1;
					}
				}
			}
			span {
				&::before {
					opacity: 0.4;
					transition: 0.5s;
					border-color: black;
				}
			}
		}
	}
}

.datePickerContainerDark {
	.datePickerInput {
		background: rgb(231, 231, 231);
		text-align: left;
	}
}
